/*
=====================================================================
*   Pluto v1.0
*   github: tedahn
*   05-17-2019
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { 
   /*background: #15151E;*/
   background: rgba(21, 21, 30, 0.96);
   background-size: cover !important;
   -webkit-background-size: cover !important;
}

/* ------------------------------------------------------------------ */
/* b. Home Styles
/* ------------------------------------------------------------------ */

home {
   position: relative;
}

/* ------------------------------------------------------------------ */
/* b. About Styles
/* ------------------------------------------------------------------ */

.section{
   z-index:2;
   min-height: 100vh;
   padding-top: 7%;
   margin:auto;
}

.section.home{
   padding-top: 15%;
   padding-bottom: 12%;
   height: 100%;
}

about {
   overflow: hidden;
}

about .banner {
   width: 70vw;
   background: #1A1A22;
   padding-top: 70px;
   padding-bottom: 70px;
   overflow: hidden;
}

about .banner.mobile {
   padding-top: 80px;
   padding-bottom: 80px;
   min-width: 580px;
}

.banner-text, .banner-image{
   position: relative;
   display: table-cell;
   margin: 0;
   padding: 0;
   outline: 0;
   vertical-align: middle;
}

about .banner-text {
   width: 70%;
   text-align: left;
   white-space: normal;
   word-break: break-word;
}
about .banner-text.mobile{
   display: block;
   width: 100%;
   text-align: left;
   white-space: normal;
   word-break: break-word;
}

about .banner-image {
   width: 30%;
   padding-right: 50px;
}
about .banner-image.mobile{
   display: block;
   width: 100%;
   padding-bottom: 30px;
}

about .banner img {
   max-width: 200px; 
   max-height: 200px;
   width: auto;
   height: auto;
   border-radius: 100%;
   transition: box-shadow 2s ease-in;
}

about .profile-pic:hover {
   box-shadow: 0px 0px 30px 0px rgba(204, 82, 0, 0.4); 
}

about .banner-text h1 {
   font: 90px/1.1em 'gotham';
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
about .banner-text h3 {
   font: 18px/1.9em 'bariol'; 
   color: #fff;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
   padding-left: 1.5em;
   text-indent: -1.5em;
}
about .banner-text h3 span,
about .banner-text h3 a {
   color: #F06000;
}
about .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}


/* about social links */
.social {
   position: fixed;
   bottom: 0;
   left: 0;
   text-align: left;
   margin-left: 10px;
   padding: 0;
   font-size: 1.8em;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
   z-index:3;
}
.social li {
   margin: 30px 15px;
   padding: 0;
   vertical-align: middle;
}
.social li a { color: #fff; }
.social li a:hover { color: #F06000;}


/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
    z-index:100;
}

/* nav-wrap */
#nav-wrap {
   font: 16px 'bariol';
   width: 100%;
   letter-spacing: 1.2px;
   margin: 0 auto;
   position: fixed;
   left: 0;
   top: 0;
   z-index:100;
   background: rgba(26, 26, 34, 0.897);
}

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;
   margin-top: 2%;
   margin-bottom: 1%;
   margin-right: 5%;
   /* center align the menu */
   text-align: right;
}
ul#nav.mobile{
   /* center align the menu */
   text-align: center;
   font: 18px 'bariol';
}

ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
   z-index:100;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }
ul#nav li a:hover { color: #CC5200; }


experience {
   background: #2B2B2B;
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

experience h1 {
   font: 34px/1.1em 'gotham';
   color: #fff;
   letter-spacing: 0px;
   text-align: left;
   margin: 30px auto;
   padding-left: 0.5em;
   width: 70%;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

experience .container{
   width: 70vw;
   margin:auto;
   min-width: 580px;
}

experience .work{
   min-height: 200px;
   max-height: 600px;
   background: #1A1A22;
   position: relative;
   margin: 20px;
   transition: box-shadow 0.3s ease-in-out;
}

experience div.work:hover{
   box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

experience .work-content, .work-image{
   position: relative;
   display: table-cell;
   margin: 0;
   padding: 0;
   outline: 0;
   vertical-align: middle;
}

experience .work-image{
   height: 200px;
   width: 180px;
}

experience .work-image img{
   vertical-align: middle;
   background-position: center center;
   background-repeat: no-repeat;
}

experience .work-content{
   text-align: left;
   padding: 20px;
}
experience .work-content h1,h2,span,p{
   margin: 0;
   padding: 0;
}

experience .work-content h1{
   font: 22px 'bariol';
   color: #fff;
   white-space: normal;
   word-break: break-word;
   padding-bottom:10px;
   margin-bottom: 0px;
}
experience .work-content h2{
   font: 18px 'bariol';
   color: #fff;
   margin-bottom: 0px;
   white-space: normal;
   word-break: break-word;
}

experience .work-content span{
   color: #F06000;
   font: 14px 'bariol';
}

experience .work-content p{
   color: #fff;
   font: 18px 'bariol';
   font-size: 18px;
   margin-top: 10px;
   white-space: normal;
   word-break: break-word;
}

work h1{
   font: 34px/1.1em 'gotham';
   color: #fff;
   letter-spacing: 0px;
   text-align: center;
   margin: 30px auto;
   width: 70%;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

work .container{
   display: grid;
   grid-gap: calc(var(--gutter) / 5);
   grid-auto-flow: column;
 
   overflow-x: scroll;
   scroll-snap-type: x proximity;
   padding-bottom: calc(.75 * var(--gutter));
   margin-bottom: calc(-.25 * var(--gutter));

   width: 80vw;

   margin: auto;
}

work div .cardLinkBox{
   margin: 20px auto;
}
  
work card{
   scroll-snap-align: center;
   padding: calc(var(--gutter) / 2 * 1.5);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 250px;
   height: 650px;
   background: #1A1A22;
   transition: box-shadow 0.3s ease-in-out;
   margin: auto;
}

work card:hover{
   cursor: pointer;
   box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

work card .card-image{
   width: 200px;
   margin: 25px 25px;
}

/* work card .card-content{
   height: 650px;
} */

work card h1, h2, span, p{
   margin: 0;
   padding: 0;
}

work card h1{
   margin: auto;
   font: 20px 'bariol';
   color: #fff;
   text-align: center;
   white-space: normal;
   word-break: break-word;
}
work card h2{
   font: 18px 'bariol';
   color: #fff;
   white-space: normal;
   word-break: break-word;
}

work card span{
   color: #F06000;
   font: 14px 'bariol';
}

work card p{
   color: #fff;
   font: 18px 'bariol';
   white-space: normal;
   word-break: break-word;
   padding: 10px 20px 15px 20px;
   margin-bottom:0px;
   text-align: center;
}

work card .tools{
   /* position: absolute; 
   bottom: 0;
   left: 0;
   right: 0; */
   margin: 0 auto 15px auto;
}
work card .tools svg{
   font-size: 20px;
   color: #fff;
   margin: 0 5px;
}



contact .banner {
   width: 70%;
   text-align: left;
   padding-top: 15%;
   padding-bottom: 15%;
}

contact h1{
   font: 90px/1.1em 'gotham';
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
   margin-bottom: 10px;
}

contact p {
   font: 18px 'bariol';
   color:#fff;
   margin-bottom: 0;
}

contact span {
   margin: 20px 0;
   font: 20px 'bariol';
}

contact span.green{
   color:rgb(124, 236, 161);
}
contact span.red{
   color:rgb(236, 124, 124);
}
contact span.main:hover {
   color:#fff;
}
contact span.secondary:hover {
   color:#fff;
}

contact a {
   font: 16px 'bariol';
   color: #F06000;
}
contact a:hover {
   color: #fff;
}