/*
=====================================================================
*   Pluto v1.0
*   github: tedahn
*   05-17-2019
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. About Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { 
	background: #15151E;
	overflow: hidden;
   background-size: cover !important;
	-webkit-background-size: cover !important;
}

/* ------------------------------------------------------------------ */
/* b. Home Styles
/* ------------------------------------------------------------------ */

home {
   position: relative;
}

/* ------------------------------------------------------------------ */
/* b. About Styles
/* ------------------------------------------------------------------ */

about {
   height: 100%;
}

about .banner {
   display: grid;
   vertical-align: middle;
   height: 100vh;
}

about .banner-image {
   position: relative;
   height: 100%;
   vertical-align: middle;
   margin-right: 25%;
   grid-column: 2;
}

about .profile-pic {
   position:absolute;
   top:0;
   bottom:0;
   margin:auto;
   width: 200px; 
   height: 200px;
   border-radius: 100%;
}

about .banner-text { 
   position: relative;
   vertical-align: middle;
   text-align: left;
   margin-left: 25%;
   grid-column: 1;
}

about .banner-text-content {
   position: absolute;
   top: 50%;
   left: 50%;
   -moz-transform: translateX(-50%) translateY(-50%);
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%);
   width: 150%;
   white-space: normal;
   word-break: break-word;
}

about .banner-text h1 {
   font: 90px/1.1em 'gotham';
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}
about .banner-text h3 {
   font: 18px/1.9em 'bariol'; 
   color: #fff;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
about .banner-text h3 span,
about .banner-text h3 a {
   color: #F06000;
}
about .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
   border-color: #2F2D2E;
   border-color: rgba(150, 150, 150, .1);
}


/* about social links */
.social {
   position: fixed;
   bottom: 0;
   left: 0;
   text-align: left;
   margin-left: 10px;
   padding: 0;
   font-size: 22px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
   z-index:2;
}
.social li {
   margin: 30px 15px;
   padding: 0;
   vertical-align: middle;
}
.social li a { color: #fff; }
.social li a:hover { color: #F06000; }


/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
	 margin: 0;
	 padding: 0;
	 border: none;
	 outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 15px 'bariol';
   width: 100%;
   letter-spacing: 1.2px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
}
.opaque { background-color: #333; }

/* hide toggle button */
#nav-wrap > a.mobile-btn { display: none; }

ul#nav {
   min-height: 48px;
   width: auto;
   margin-top: 2%;
   margin-right: 5%;
   /* center align the menu */
   text-align: right;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

/* 8px padding top + 8px padding bottom + 32px line-height = 48px */

   display: inline-block;
   padding: 8px 13px;
   line-height: 32px;
	text-decoration: none;
   text-align: left;
   color: #fff;

	-webkit-transition: color .2s ease-in-out;
	-moz-transition: color .2s ease-in-out;
	-o-transition: color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out;
}

ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }
ul#nav li a:hover { color: #CC5200; }


experience {
   background: #2B2B2B;
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}

experience .h1 {
   font: 34px/1.1em 'gotham';
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}

experience .work{
   position: relative;
   display: grid;
   margin: 0 10px 10px;
}

experience .work-image{
   height: 200px;
   width: 200px;
   grid-column: 1;
}

experience .work-content{
   grid-column: 2;
}